<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OPI Test example" verbose="3" parallel="tests" thread-count="2" group-by-instances="true">
    <test name="Search Tests" group-by-instances="true">
       <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="org.opi.tests.SearchTest"/>
        </classes>
    </test>
    <test name="Login Tests">
        <parameter name="browser" value="EDGE"/>
        <classes>
            <class name="org.opi.tests.LoginTest"/>
        </classes>
    </test>
</suite>

